apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-s3
  namespace: csi-s3
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-s3-role
rules:
  - apiGroups: [""]
    resources:
      - persistentvolumes
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
    verbs: ["get", "list", "watch", "create", "delete", "update"]

  - apiGroups: ["storage.k8s.io"]
    resources:
      - storageclasses
      - csinodes
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-s3
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: csi-s3-role
subjects:
  - kind: ServiceAccount
    name: csi-s3
    namespace: csi-s3
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-s3-controller
rules:
  # Leader election
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

  # Provisioner braucht das zwingend
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]

  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]

  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]

  - apiGroups: ["storage.k8s.io"]
    resources: ["csinodes"]
    verbs: ["get", "list", "watch"]

  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources:
      - events
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-s3-controller
subjects:
  - kind: ServiceAccount
    name: csi-s3
    namespace: csi-s3
roleRef:
  kind: ClusterRole
  name: csi-s3-controller
  apiGroup: rbac.authorization.k8s.io
