apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "driver.serviceaccount.name" .}}
  namespace: {{ include "driver.namespace.name" . }}
  labels:
  {{- if (include "driver.labels" .) }}
  {{- include "driver.labels" . | indent 4}}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "driver.role.node.name" .}}
  labels:
  {{- if (include "driver.labels" .) }}
  {{- include "driver.labels" . | indent 4}}
  {{- end }}
rules:
  - apiGroups: [""]
    resources:
      - persistentvolumes
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
    verbs: ["get", "list", "watch", "create", "delete", "update"]

  - apiGroups: ["storage.k8s.io"]
    resources:
      - storageclasses
      - csinodes
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "driver.node.name" .}}
  labels:
  {{- if (include "driver.labels" .) }}
  {{- include "driver.labels" . | indent 4}}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "driver.role.node.name" .}}
subjects:
  - kind: ServiceAccount
    name: {{ include "driver.serviceaccount.name" .}}
    namespace: {{ include "driver.namespace.name" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "driver.role.controller.name" .}}
  labels:
  {{- if (include "driver.labels" .) }}
  {{- include "driver.labels" . | indent 4}}
  {{- end }}
rules:
  # Leader election
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

  # Provisioner braucht das zwingend
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]

  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]

  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]

  - apiGroups: ["storage.k8s.io"]
    resources: ["csinodes"]
    verbs: ["get", "list", "watch"]

  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources:
      - events
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "driver.controller.name" .}}
  labels:
  {{- if (include "driver.labels" .) }}
  {{- include "driver.labels" . | indent 4}}
  {{- end }}
subjects:
  - kind: ServiceAccount
    name: {{ include "driver.serviceaccount.name" .}}
    namespace: {{ include "driver.namespace.name" . }}
roleRef:
  kind: ClusterRole
  name: {{ include "driver.role.controller.name" .}}
  apiGroup: rbac.authorization.k8s.io
