# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go Build & Push

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2

    - name: Set up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version: '1.25.5'

    - name: Build
      run: make sync test build

    - name: Login to Docker Hub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        context: .
        tags: cshoch3/k8s-csi-s3-minio:0.43.3        
